<h1>Dropdown</h1>
<br/>

<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">Categorias</button>

    <ul class="dropdown-menu  bg-info" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="http://localhost:5246/Tabelas">Limpeza</a></li>
        <li><a class="dropdown-item active " href="#">Higiene</a></li>
        <li><a class="dropdown-item" href="#">Alimentação</a></li>
    </ul>
    <br/><br/>

</div>