<h1>Botões</h1>

<div class="row">
    <div class="col-4">
        <button type="button" class="btn btn-outline-primary">Primary</button>
        <button type="button" action="btn btn-link">Clique aqui</button>
    </div>

    <div class="col-8">
        <button type="button" class="btn btn-primary">Primary</button>
        <button type="button" class="btn btn-secondary">Secondary</button>
        <button type="button" class="btn btn-success">Success</button>
        <button type="button" class="btn btn-danger">danger</button>
        <button type="button" class="btn btn-warning">Warning</button>
        <button type="button" class="btn btn-info">Info</button>
        <button type="button" class="btn btn-light">Light</button>
        <button type="button" class="btn btn-dark">Dark</button>

    </div>
</div>