<h1>Botões</h1>

<div class="row">
    <div class="col-4">
        <button type="button" class="btn btn-outline-primary">Primary</button>
        <button type="button" class="btn btn-outline-danger">danger</button>
        <button type="button" class="btn btn-link">Clique aqui</button>




        <br /><br />
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-success">Opição 1</button>
            <button type="button" class="btn btn-danger">Opição 2</button>
            <button type="button" class="btn btn-warning">Opição 3</button>

        </div>
        <br /><br />
        <div class="btn-group" role="group">
            <input type="radio" class="btn-check" name="tbnradio" id="btnradio1" autocomplete="off" checked />
            <label class="btn btn-outline-primary" for="btnradio1">Feminio</label>
            <input type="radio" class="btn-check" name="tbnradio" id="btnradio2" autocomplete="off" checked />
            <label class="btn btn-outline-primary" for="btnradio2">Masculino</label>
        </div>
        <br /><br />
        <div class="btn-group-vertical" role="group">
            <button type="button" class="btn btn-success">Opição 1</button>
            <button type="button" class="btn btn-danger">Opição 2</button>
            <button type="button" class="btn btn-warning">Opição 3</button>

        </div>
        <br /><br />
    </div>
    
    <div class="col-8">
        <button type="button" class="btn btn-primary btn-sm">Primary</button>
        <button type="button" class="btn btn-secondary btn-lg">Secondary</button>
        <button type="button" class="btn btn-success">Success</button>
        <button type="button" class="btn btn-danger">danger</button>
        <button type="button" class="btn btn-warning">Warning</button>
        <button type="button" class="btn btn-info">Info</button>
        <button type="button" class="btn btn-light d-block">Light</button>
        <button type="button" class="btn btn-dark d-block">Dark</button>
        <br/><br/>
        <div class="d-grid gap-2">
            <button type="button" class="btn btn-primary ">Botão 1</button>
            <button type="button" class="btn btn-primary ">Botão 2</button>
        </div>
        <br /><br />
        <div class="d-grid gap-2 d-md-block">
            <button type="button" class="btn btn-primary ">Botão 1</button>
            <button type="button" class="btn btn-primary ">Botão 2</button>
        </div>

    </div>
</div>