@{
    ViewData["Title"] = "Bootstrap 5.1";
}
<h1>@ViewData["Title"]</h1>

<div class="row justify-content-end aling-items-center" >
    <div class="col-4 border">
        Existem colunas de modelos disponiveis por linhas permitindo que voce crie diferentes combinações de elementos que abrangem qualquer numero de colunas. <br />
        As classes de coluna indicam o numero de colunas do modelo a serem estendidas (por exemplo, col-4 abrange quatro). widths são definidos me porcentagens para que voce sempre tenha o mesmo tamanho relativo

    </div>
    <div class="col-4 border">
        O sistema de grade do Bootstrap usa uma serie de conteineres, linhas e colunas para fazer o layout e alinha o conteudo. Ele é cotruido com o flexbox e é totalmente responsivo. Abaxo esta um exemplo e uma explicação detalhada de como o sistema de grade funciona
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-4">
        <h2>.NET</h2>

        <p> .NET (<span class="text-info">antigamente .NET Core</span>) é um framework livre e de código aberto para os sistemas operacionais Windows, Linux e macOS.[1] É um sucessor de código aberto[2] do .NET Framework.[3] O projeto é desenvolvido principalmente pela <b>Microsoft</b> e <u>lançado</u> com a <strong>Licença</strong> <mark>MIT</mark>.[4]</p>
    </div>
    <div class="col-4">
        <h2 class="text-center">Historia</h2>

        <p>O <span class="text-primary">.Net Core 1.0</span>  , anunciado em<span style="color:red">12 de novembro</span>  de 2014,[5] foi lançado em 27 de junho de 2016,[6] junto com o Microsoft Visual Studio 2015 Update 3, que permite o desenvolvimento com .NET Core.[7] O .NET Core 1.0.4 e o .NET Core 1.1.1 foram lançados junto com o .NET Core Tools 1.0 e o Visual Studio 2017 no dia 7 de março de 2017.[8]</p>

        <p class="text-white bg-dark">
            O <span class="text-secondary">.Net Core 2.0</span> foi lançado no dia 14 de agosto de 2017, junto com o Visual Studio 2017 15.3, o ASP.NET Core 2.0, e o Entity Framework Core 2.0.[9] O .NET Core 2.1 foi lançado no dia 30 de maio 2018.[10] O .NET Core 2.2 foi lançado em 4 de dezembro de 2018.[11]
        </p>
        <p>
            O <span class="text-danger">.Net Core 3</span> foi anunciado em 7 de maio de 2019, na Microsoft Build. A versão 3.0.0 foi lançada a 23 de setembro de 2019.[12][13] Com o .NET Core 3 o framework passou a suportar desenvolvimento de software aplicativo desktop, inteligência artificial/aprendizado de máquina e apps IoT.[14][não consta na fonte citada]

        </p>
        <p>
            O lançamento após o <span calss="text-warning">.NET Core 3.1</span> foi o .NET 5, que passou a ser o único .NET a ser atualizado – justificando a remoção da marca "Core" e pulo da versão 4 para evitar confusão com o .NET Framework 4.x.[15]
        </p>
    </div>
</div>