<h1> Card - Cartões</h1>



<div class="row">
    <div class="col-md-3 col-sm-12">
        <div class="card">
            <img src="~/Images/cafe01.jpeg" class="card-img-top" alt="Café" />
            <div class="card-body">
                <h5 class="card-title">Café Mellita 500 gramas</h5>
                <h6 class="card-subtitle mb-2 text-muted"> promoção da semana</h6>
                <p class="card-text">Cada cliente tem o diereito de levar no máximo três unidades</p>
                <a href="#" class="card-link">Saiba mias...</a>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-12">
        <div class="card">
           
            <div class="card-body">
                <h5 class="card-title">Café Mellita 500 gramas</h5>
                <h6 class="card-subtitle mb-2 text-muted"> promoção da semana</h6>
            </div>
            <img src="~/Images/cafe01.jpeg" class="card-img-top" alt="Café" />
            <div class="card-body">
                <p class="card-text">Cada cliente tem o diereito de levar no máximo três unidades</p>
                <a href="#" class="card-link">Saiba mias...</a>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-12">
        <div class="card">
            <div class="card-header">
                Café R$ 20,00
            </div>

            <img src="~/Images/cafe02.jpg" class="card-img-top" alt="Café" />
            <div class="card-body">
                <h5 class="card-title">Café Mellita 500 gramas</h5>
                <h6 class="card-subtitle mb-2 text-muted"> promoção da semana</h6>
                <p class="card-text">Cada cliente tem o diereito de levar no máximo três unidades</p>
                <a href="#" class="btn btn-primary">Saiba mias...</a>

                <div class="card-footer">
                    Preço válido até 10/02/2022
                </div>
            </div>
          
           
        </div>
    </div>

    <div class="col-md-3 col-sm-12">
        <div class="card">
            <div class="card-header">
                Café R$ 30,00
            </div>

            <img src="~/Images/cafe03.jpg" class="card-img-top" alt="Café" />
            <div class="card-body">
                <h5 class="card-title">Café Mellita 500 gramas</h5>
                <h6 class="card-subtitle mb-2 text-muted"> promoção da semana</h6>
                <p class="card-text">Cada cliente tem o diereito de levar no máximo três unidades</p>
                <a href="#" class="btn btn-primary">Saiba mias...</a>

                <div class="card-footer">
                    Preço válido até 10/02/2022
                </div>
            </div>


        </div>
    </div>
</div>